*{
    margin: 0;
    padding: 0;
    font-family: "Noto Serif JP", serif;
}

html {
    scroll-behavior: smooth;
    background:rgb(12,12,14);
}

.navbar{
    user-select: none;
    height: 7vh;
    width: 100%;
    background: white;
}

.navbar .logo {
    float: left;
    line-height: 6vh;
}

.navbar .logo img {
    margin: 0 30px;
    vertical-align: middle;
}

.navbar .logo a {
    color: black;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    padding: auto 25px;
}

.sticky {
    z-index: 9999;
    user-select: none;
    position: sticky;
    top: 0;
    /* height: 0; */
}

.navbar img{
    width: auto;
    height: 3vh;
    vertical-align: middle;
}

.navbar ul{
    float: right;
    margin-right: 20px;
}

.navbar ul li{
    display: inline-block;
    margin: 0 8px;
    line-height: 7vh;
}

.navbar ul li a{
    font-family: "Noto Serif JP", serif;
    font-weight: bold;
    font-size: 17px;
    border-radius: 8px;
    text-decoration: none;
    text-transform: uppercase;
    color: black;
    margin: 0px 10px;
}

.navbar ul li a:hover{
    color: lightgray;
}

@media (max-width: 600px) {
    .navbar ul {
        position: fixed;
        width: 100%;
        height: auto;
        background: rgba(0, 0, 0, 0.5);
        top: -100%;
        left: 0;
        text-align: center;
        transition: 0.5s;
    }
}

.top-section {
    text-align: center;
    background: white;
}

.top-section img {
    width: 100%;
    vertical-align: middle;
}

.about-section {
    width: 100%;
    height: auto;
    min-height: 94vh;
    text-align: center;
    /* background: linear-gradient(rgb(50, 50, 50), rgb(25, 25, 25)) */
    background: rgb(20,20,20);
}

.about-section img {
    max-width: 90%;
}

.about-section h1 {
    color: white;
    font-size: 64px;
    padding: 100px 0px;
    margin: 0px;
}

.about-section ul {
    list-style-type: none;
    justify-content: center;
    padding: 75px 0px;
}

.about-section ul li {
    color: white;
    width: 350px;
    height: 350px;
    text-align: center;
    background: rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 6px white;
    border-radius: 10px;
    display: inline-table;
    transition: all 0.5s;
    margin: 25px 25px;
}

.blinking {
    animation-name: blink;
    animation-delay: 0.3s;
    animation-duration: 1.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@keyframes blink {
    0%, 100% {opacity: 1;}
    50% {opacity: 0;}
}

.about-section ul li:hover {
    transform: translateY(-10px);
}

.about-section ul li h1 {
    font-size: 32px;
    padding: 25px 0px;
}

.about-section ul li p {
    font-size: 18px;
    line-height: 25px;
    margin: 10px 15px;
}

.about-section ul li a {
    color: white;
    text-decoration: underline;
}

.about-section ul li .content {
    min-height: 110px;
}

.about-section ul li img {
    height: 125px;
    max-width: 90%;
    padding: 20px 0px;
}

.contact-section {
    width: 100%;
    min-height: 30vh;
    height: auto;
    text-align: center;
    /* background: linear-gradient(rgb(20, 20, 20), rgb(0, 0, 0)); */
    background: rgb(30,30,30);
}

.contact-section h1 {
    font-family: "Kosugi Maru", serif;
    color: white;
    font-size: 24px;
    padding: 100px 0px;
}

.contact-section p {
    color: rgb(30,30,30);
    font-size: 24px;
    padding: 50px 0px;
}

.contact-section ul {
    padding-top: 50px;
    vertical-align: middle;
    list-style-type: none;
    justify-content: center;
}

.contact-section ul li {
    width: auto;
    height: auto;
    text-align: center;
    border-radius: 10px;
    display: inline-table;
    transition: all 0.5s;
    margin: 25px 25px;
}

.contact-section ul li img {
    width: 100px;
    height: 100px;
    border-radius: 100%;
    box-shadow: 0 0 6px rgb(45,45,45);
    transition: all 0.5s;
    transform: translateY(15px);
}

.contact-section ul li img:hover {
    transform: translateY(0px) rotate(360deg);
}

.member-section {
    width: 100%;
    height: auto;
    min-height: 100vh;
    color: white;
    text-align: center;
    background: rgb(20, 20, 20);
    /* background: linear-gradient(rgb(75,75,75),rgb(25,25,25)); */
    /* background: linear-gradient(rgb(25, 25, 25), rgb(40,40,40),rgb(25,25,25)); */
}

.member-section h1 {
    font-size: 64px;
    padding-top: 130px;
    padding-bottom: 30px;
}

.tab-wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.tab-label {
    color: White;
    font-size: 24px;
    background: rgba(255,255,255, 0.0);
    margin: 10px 10px;
    box-shadow: 0 0 8px white;
    border: 2px solid white;
    border-radius: 20px;
    padding: 6px 12px;
    order: -1;
    transition: all 0.3s;
}
.tab-content {
    overflow: hidden;
    width: 100%;
    height: 0;
    opacity: 0;
    font-size: 42px;
}

.tab-content h1 {
    transform: scaleX(0.0);
    padding-top: 20px;
    padding-bottom: 20px;
}

.tab-content ul {
    padding: 100px 0px;
    list-style-type: none;
}

.tab-content ul li {
    transform: scale(0.0) translateY(10px);
    display: inline-block;
    width: 400px;
    max-width: 80%;
    height: 480px;
    margin: 35px 25px;
    border: 1px solid white;
    box-shadow: 0 0 8px white;
    background: rgba(0, 0, 0, 0.25);
}

.tab-content ul li p {
    color: white;
    text-decoration: none;
    line-height: 60px;
}

.tab-content ul li img {
    width: 100%;
    height: auto;
}

.tab-content ul li:hover {
    box-shadow: 0 0 18px white;
}

/* アクティブなタブ */
.tab-switch:checked+.tab-label {
    color: black;
    box-shadow: 0 0 4px white;
    background: rgba(255, 255, 255, 1);
}

.tab-switch:checked+.tab-label+.tab-content {
     height: auto;
     opacity: 1;
     transition: all 0.5s;
}

.tab-switch:checked+.tab-label+.tab-content h1 {
    transition: all 0.5s;
    transform: scale(1.0) translateY(10px);
}

 .tab-switch:checked+.tab-label+.tab-content ul li{
    transition: all 0.5s;
    transform: scale(1.0);
}
/* ラジオボタン非表示 */
.tab-switch {
    display: none;
}

.news-section {
    width: 100%;
    height: auto;
    min-height: 100vh;
    text-align: center;
    background: linear-gradient(rgb(235,235,235),rgb(200,200,200));
}

.news-section h1 {
    padding-top: 150px;
    padding-bottom: 30px;
    font-size: 64px;
    font-weight: bold;
    color: black;
}

.news-section ul{
    list-style: none;
    display: inline-block;
    justify-content: center;
}

.news-section ul li {
    width: 1000px;
    height: 300px;
    background: white;
    margin: 50px 25px;
    text-align: left;
}

.news-section ul li a {
    text-decoration: none;
    width: 100%;
    height: 100%;
    display: block;
}

.news-section ul li h1 {
    margin-left: 410px;
    font-size: 24px;
    font-weight: bold;
    padding: 10px 25px;
}

.news-section ul li p {
    color: black;
    margin-left: 410px;
    font-size: 18px;
    font-weight: normal;
    padding: 10px 25px;
}

.news-section ul li .noheight {
    height: 0;
}

.news-section ul li img {
    width: 400px;
    height: 300px;
    object-fit: cover;
    /* box-shadow: 0 0 6px rgb(200,200,200); */
}

.news-content {
    width: 100%;
    height: auto;
    min-height: 125vh;
    text-align: center;
    background: linear-gradient(rgb(200,200,200),rgb(255,255,255));
}

.news-content .title {
    width: 1000px;
    max-width: 90%;
    height: auto;
    margin: 0 auto;
    text-align: left;
}

.news-content h1 {
    font-size: 54px;
    font-weight: bold;
    max-width: 900px;
    margin: 0 auto;
    padding-top: 100px;
    padding-bottom: 30px;
}

.news-content h2 {
    text-align: right;
    margin: 0 auto;
    font-size: 18px;
    font-weight: bold;
    max-width: 900px;
    margin: 10px 25px;
}

.news-content img {
    max-width: 90%;
    margin-top: 25px;
    margin-bottom: 75px;
}

.news-content p {
    text-align: left;
    font-size: 24px;
    max-width: 900px;
    white-space: pre-wrap;
    margin:  0 auto;
    line-height: 32px;
}

.news-content .desc {
    width: 900px;
    height: 100px;
    margin: 0 auto;
    padding: 50px 0px;
    text-align: right;
}

.news-content .desc img {
    width: 100px;
    height: auto;
    margin: 25px 25px;
    border-radius: 100%;
}

.description-section {
    width: 100%;
    min-height: 40vh;
    text-align: center;
    /* background: linear-gradient(rgb(50,50,50),rgb(25,25,25)); */
    background: rgb(20, 20, 20);
}

.description-section ul {
    padding: 100px 0px;
    display: inline-table;
    justify-content: center;
    list-style: none;
}

.description-section ul li {
    width: 400px;
    height: auto;
    max-width: 50%;
    display: inline-table;
    color: white;
    margin: 25px 75px;
}

.description-section h1 {
    font-size: 32px;
}

.description-section p {
    text-align: left;
    font-size: 18px;
    line-height: 22px;
    white-space: pre-line;
}

.circle {
    border-radius: 100%;
}